/*********************
GENERAL STYLES
*********************/
body {
	font-family: $helvetica;
	font-size: 100%;
	color: #565656;
}
.row {
	max-width:75em; /* 1200 px */
}
/********************
WORDPRESS BODY CLASSES
********************/
.rtl {}
.home {}
.blog {}
.archive {}
.date {}
	.date-paged-1 {}
.search {}
	.search-results {}
	.search-no-results {}
	.search-paged-1 {}
.error404 {}
.single {}
	.postid-1 {}
	.single-paged-1 {}
.attachment {}
	.attachmentid-1 {}
	.attachment-mime-type {}
.author {}
	.author-nicename {}
	.author-paged-1 {}
.category {}
	.category-1 {}
	.category-paged-1 {}
.tag {}
	.tag-slug {}
	.tag-paged-1 {}
.page-template {}
	.page-template-page-php {}
	.page-paged-1 {}
	.page-parent {}
	.page-child {}
	.parent-pageid-1 {}
.logged-in {}
.paged {}
	.paged-1 {}
/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $link-color;
	&:hover, &:focus {
		color: $link-hover;
	}
	&:active {
	}
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
/******************************************************************
HEADING STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	a {
		text-decoration: none;
	}
}
h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}
h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}
h3, .h3 {
	font-size: 1.125em;
}
h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}
h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
/*********************
HEADER STYLES
*********************/
.header {}
	#logo {}
/*********************
NAVIGATION STYLES
*********************/
.nav {
	border: 1px solid #ccc;
	border-bottom: 0;
	li {
		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			background-color: #eee;
			border-bottom: 1px solid #ccc;
			&:hover, &:focus {

			}
		}
		&:first-child {}
		&:last-child {}
		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left: 30px;
					&:hover, &:focus {}
					&:link {
					}
				}
				&:first-child {}
				&:last-child {}
			}
		}
	} /* end .menu li */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}
}
/* Responsive Nav Plugin */
#nav ul {
  		margin: 0;
  		padding: 0;
 	 	width: 100%;
  		display: block;
  		list-style: none;
  		li {
  			width: 100%;
  			display: block;
  		}
	}
.js #nav {
  	clip: rect(0 0 0 0);
  	max-height: 0;
  	position: absolute;
  	display: block;
  	overflow: hidden;
  	zoom: 1;
}
#nav.opened {
  	max-height: 9999px;
}
/*********************
POSTS & CONTENT STYLES
*********************/
#content {}
	.hentry {
		header {}
		footer {}
	}
	.single-title,
	.page-title {}
	.single-title {}
	.page-title {}
	.archive-title { }
	.post-id {}
	.post {}
	.page {}
	.attachment {}
	.sticky {}
	.hentry {}
	.category-slug {}
	.tag-slug {}
	.byline {
		time {}
	}
	.entry-content {
		p {}
		ul, ol, table, dl {}
		ul, ol {
			li {}
		}
		ul {
			li {}
		}
		ol {
			li {}
		}
		blockquote {
			&:before {}
		}
		dl {}
		dt {}
		dd {
			margin-left: 0;
			font-size: 0.9em;
			color: #787878;
			margin-bottom: 1.5em;
		}
		img {
			margin: 0 0 1.5em 0;
			max-width: 100%;
			height: auto;
		}
		.alignleft, img.alignleft {}
		.alignright, img.alignright {}
		.aligncenter, img.aligncenter {}
		video, object {
			max-width: 100%;
			height: auto;
		}
		pre {}
	}
	.wp-caption {
		max-width: 100%;
		background: #eee;
		padding: 5px;
		img {
			max-width: 100%;
			margin-bottom: 0;
			width: 100%;
		}
		p.wp-caption-text {
			font-size: 0.85em;
			margin: 4px 0 7px;
			text-align: center;
		}
	}
	.gallery {
		dl {
			a {}
			img {}
		}
		dt {}
		dd {}
	}
	.gallery-caption {}
	.size-full {}
	.size-large {}
	.size-medium {}
	.size-thumbnail {}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {
		li {
			float: left;
			margin-left: 10px;
			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;
				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}
		}
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;
			a {
				&:hover,
				&:focus {}
			}
		}
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;
			a {
				padding: 0;
			}
		}
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}
		li.bpn-prev-link { /* previous link */
			a {
				&:hover,
				&:focus {}
			}
		}
		li.bpn-next-link { /* next page link */
			a {
				&:hover,
				&:focus {}
			}
		}
		li.bpn-first-page-link { /* first page link */
			a {
				&:hover,
				&:focus {}
			}
		}
		li.bpn-last-page-link { /* last page link */
			a {
				&:hover,
				&:focus {}
			}
		}
	}
	.wp-prev-next {
		ul {}
		.prev-link {
			float: left;
		}
		.next-link {
			float: right;
		}
	}
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {}
	.widgettitle {}
	.widget {
		ul {
			li {
				&:first-child {}
				&:last-child {}
				a {}
				ul {}
			}
		}
	}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
}
	.footer-links {
		ul {
			li {}
		}
	}
	.copyright {}
